:root {
  --azure: #1797ff;
  --white: #ffffff;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 50px;
}

.header {
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec, var(--white));
  padding: 2.75rem 0 2.75rem 0;
  margin: 0 0 4rem;
}

.header h1 {
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: #3b3b3b;
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
}

/* FILTER BY ALL OR FAVORITES SECTION */
.filter {
  display: flex;
  justify-content: center;
  margin: 0 0 4rem;
}

.filter > a {
  width: 7rem;
  height: 2rem;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  background-color: #fcfcfc;
  color: #606060;
  text-decoration: none;
  font-family: 'Roboto', serif;
}

.filter > .selected {
  border: solid 1px var(--azure);
  color: var(--azure);
  font-weight: 500;
}

/* FILTER BY STACK SECTION */
.selector {
  width: 15rem;
  height: 2rem;
  padding: 0.5rem 0;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  background-color: var(--white);
  margin-bottom: 2.375rem;
  cursor: pointer;
  font-family: 'Roboto', serif;
  font-size: 0.875rem;
  color: #343434;
}

.selector > div {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-bottom: 10px;
}

.selector > div > i {
  width: 12px;
  transition: transform 0.5s;
}

.list {
  width: 15rem;
  background-color: var(--white);
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
}

.options {
  width: 80%;
  padding: 15px;
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
}

.options img {
  width: 25px;
  margin: 0 0.5rem 0 0;
}

.options:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.hide {
  visibility: hidden;
}

.rotate {
  transform: rotate(180deg);
}

/* CARDS SECTION */
.grid-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.grid-cards-inner {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', serif;
  border: 1px solid #979797;
  background-color: #fcfcfc;
  border-radius: 6px;
}

.grid-cards-inner .card-body {
  padding: 1rem 1.625rem;
}

.card-body > div {
  display: flex;
  align-items: center;
  margin-bottom: 0.438rem;
}

.card-body > div > span {
  font-size: 0.7rem;
  color: #767676;
  margin-left: 0.5rem;
}

.card-body > p {
  font-size: 0.875rem;
  color: #6b6b6b;
  letter-spacing: 0.25px;
  font-weight: 500;
}

.action-fav {
  width: 4.25rem;
  height: auto;
  border-radius: 0 6px 6px 0;
  margin: 0 0 0 1rem;
  padding: 2.188rem 1.375rem 2.063rem;
  background-color: #ececec;
  border: none;
  display: flex;
  align-items: center;
}

.action-fav > button {
  border: none;
  cursor: pointer;
}

/* PAGINATION SECTION */
.pagination {
  display: flex;
  justify-content: center;
  margin: 6.375rem 0 0 0;
}

.pagination > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-family: 'Roboto', serif;
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.875;
}

.pagination > ul > li {
  width: 2.3rem;
  text-align: center;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: solid 1px #d9d9d9;
  background-color: var(--white);
  cursor: pointer;
}

.pagination > ul > li:hover {
  border-color: var(--azure);
  color: var(--azure);
}

.pagination > ul > li.active {
  background-color: var(--azure);
  color: var(--white);
  border-color: var(--azure);
}

.pagination > ul > li.disable {
  pointer-events: none;
  opacity: 0.6;
}

@media (max-width: 850px) {
  .container {
    max-width: 700px;
  }

  .grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .pagination > ul {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 0 1rem;
  }

  .header h1 {
    text-align: center;
    font-size: 1.3rem;
  }

  .grid-cards {
    grid-template-columns: 1fr;
  }
}
